@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <!-- wyświetlanie nazwy użytkownika -->
    <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Zalogowano jako @User.Identity?.Name</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link">Wyloguj</button>
        </form>
    </li>
}
else
{
        <!-- login and sign up buttons (logowanie i rejestracja)-->
        <li class="nav-item">
            <a class="btn btn-outline-light me-2" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
        </li>
}
</ul>
