@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<!-- Kod odpowiedzialny za politykę prywatności na stronie -->

<div class="bg-dark p-4 rounded">
    <p>
        Dbamy o Twoją prywatność i bezpieczeństwo danych. Korzystając z naszej platformy edukacyjnej "Kondensator Wiedzy"
        jednocześnie oświadczasz świadomość tego, że twoje dane osobowe są przetwarzane wyłącznie w celu umożliwienia korzystania z kursów,
        zapisywania postępów oraz obsługi konta użytkownika.
    </p>

    <p>
        Nie udostępniamy Twoich danych osobom trzecim bez Twojej zgody, z wyjątkiem sytuacji wymaganych
        przez przepisy prawa. Masz prawo do wglądu w swoje dane, ich poprawiania oraz usunięcia. Masz również możliwość pobrania swoich danych z panelu użytkownika.
    </p>

    <p>
        Korzystamy z plików cookies w celu poprawy działania serwisu i dostosowania treści do Twoich potrzeb.
        Możesz w każdej chwili zmienić ustawienia cookies w swojej przeglądarce. Po więcej informacji udaj się na stronę twojej przeglądarki.
    </p>

    <p>
        Korzystając z naszej platformy, jednocześnie akceptujesz zasady opisane w powyższej polityce prywatności. 
    </p>
</div>
